.Product_container {
  margin: 2vw 8vw 2vw 8vw;
  display: flex;
  flex-direction: row;

  /* background-color: yellow; */
  height: auto;
}
.Info_container {
  /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: white;
  margin: 5px;
  padding: 0%;
  height: auto;
}
.img_style {
  height: 140px;
  max-height: 140px;
  max-width: 168px;
  width: 168px;
}
.font_style {
  color: black;
  text-align: left;
  line-height: 19.2px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  margin: 10px;
  padding: 10px;
}

.headers {
  text-align: left;
  font-weight: 400;
}
.font_style_2 {
  color: black;
  text-align: left;
  line-height: 19.2px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  margin: 10px;
  padding: 10px;
}

.Anmelden-btn {
  margin: 1rem;
  background-color: #0771d0;
  color: azure;
  border: none;
  height: 1.5rem;
  width: 6rem;
  border-radius: 8%;
}
.grid-item {
  text-align: left;
  margin: 1px;
  background-color: #085daa;
  border-color: aliceblue;
  border-width: 0.1rem;
  border-radius: 5%;
  font-size: 14px;
  height: 2.1rem;
  padding: 4px;
  color: aliceblue;
}
.grid-container {
  width: 100%;
  text-align: center;
  display: grid;
  column-gap: 5px;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  margin: 0;
}
